.wrapper {
    background-color: var(--neutral-1);
    padding: 12px;
    border-radius: 8px;
    gap: 16px;
    display: flex;

    @include mobile {
        flex-direction: column;
    }
}

.additional {
    display: grid;
    grid-template-columns: 74px auto;
    gap: 16px;

    @include mobile {
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
    }
}

.search {
    width: 100%;
}
