.wrapper {
    width: 200px;
    height: 268px;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-1);
    border-radius: 16px;
    border: 1px solid var(--neutral-5);

    @include mobile {
        img {
            width: 200px;
            height: 150px;
        }
    }
}

.list {
    flex-direction: row;
    width: 100%;
    height: 132px;

    .category {
        position: static;
        border: none;
        padding: 0;
        color: var(--text-secondary);
    }

    .image {
        border-radius: 16px;
    }

    .body {
        width: 100%;
        overflow: hidden;
    }

    @include mobile {
        flex-direction: column;
        width: 200px;
        height: 268px;

        .category {
            position: absolute;
            border: 1px solid var(--neutral-5);
            padding: 0 12px;
            color: var(--text-primary);
        }

        .image {
            border-radius: 16px 16px 0 0;
        }

        .body {
            width: 100%;
            overflow: visible;
        }
    }
}

.image {
    border-radius: 16px 16px 0 0;
}

.body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
}

.title,
.price,
.category {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title {
    @include h5;
    @include regular;
    color: var(--text-primary);
}

.price {
    @include body16;
    @include strong;
    color: var(--text-secondary);
}

.category {
    position: absolute;
    top: -11px;

    @include body14;
    @include regular;
    border: 1px solid var(--neutral-5);
    padding: 0 12px;
    border-radius: 6px;
}

.revision {
    @include body14;
    @include regular;
    color: var(--revision-text);
    background-color: var(--revision-background);
    border-radius: 6px;
    padding: 2px 8px;

    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;

    &:before {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: var(--revision-text);
    }
}
